{% comment %}
  Collection Common Head:
    标题,, icon 可以点击下拉选择
{% endcomment %}

<style>
    .new_collection_module .new_collection_module_container {
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 39px 60px;
      border-bottom: 1px solid rgba(153, 153, 153, 0.5);
    }
    .new_collection_module .new_collection_module_container .title {
      {% comment %} padding-top: 39px;
      padding-bottom: 39px; {% endcomment %}
      position: relative;
    }
    .new_collection_module .new_collection_module_container .title:after {
      content: '';
      width: 100vw;
      height: 1px;
      background-color: rgba(153, 153, 153, 0.5);
    }
    .new_collection_module_container .title_text {
      font-weight: 500;
      font-size: 30px;
      vertical-align: middle;
      {% comment %} margin-left: 58px; {% endcomment %}
      cursor: pointer;
      text-transform: uppercase;
    }
    .new_collection_module_container .title_icon {
      cursor: pointer;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
    }
    .new_collection_module_container .title_icon svg {
      width: 40px;
      height: 40px;
      fill: none;
      stroke: none;
    }
    .show_popup_list {
      background-color: #ededed;
      padding-left: 16px;
      padding-right: 16px;
      padding-top: 13px;
      padding-bottom: 19px;
      width: 259px;
      position: absolute;
      top: 59px;
      left: 0;
      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
      transition-property: all !important;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
      transition-duration: 150ms !important;
      z-index: 99;
    }
    .show_popup_list.show_popup_list-opacity-0 {
      opacity: 0;
      z-index: -1;
    }
    .show_popup_list.show_popup_list-opacity-100 {
      opacity: 1;
      z-index: 1;
    }
    .show_popup_list .popup_item {
      display: block;
      font-size: 14px;
      line-height: 32px;
      color: #333333;
      font-weight: 400;
    }
    .show_popup_list .popup_item.popup_item_active {
      font-weight: 500;
    }
    .show_popup_list a.popup_item:hover {
      background-color: #d9d9d9;
    }

    .new_collection_module .results-count{
      display: none;
    }

    /* icon 向上/向下的样式. 旋转180deg */
    .new_collection_module_container .title_icon.title_icon_up svg {
      transform: rotate(180deg);
    }
    .new_collection_module_container .title_icon.title_icon_down svg {
      transform: rotate(0deg);
    }
    @media (min-width: 1025px) and (max-width: 1480px){
      .new_collection_module  .new_collection_module_container {
        padding: 39px 60px;
      }
    }

  @media (min-width: 768px) {
    .new_collection_module .all_product_toolbar_container {
      width: auto;
      margin-top: 0;
      align-items: center;
      gap: 15px;
    }
    .new_collection_module .all_product_toolbar_container::after{
      display: none;
    }

    .new_collection_module .toolbar .toolbar-dropdown .label-tab{
      padding: 0;
      min-height: auto;
      line-height: normal;
      display: flex;
      align-items: center;
      gap: 10px;
      width: auto;
      min-width: 0px!important;
    }

    .new_collection_module .sidebar--layout_1 .sidebarBlock-heading{
      padding-bottom: 0px;
      margin-bottom: 0px;
    }

    .new_collection_module .sidebar--layout_1 .sidebarBlock-headingWrapper .sidebarBlock-heading:after{
      top: calc(50%);
    }

    .new_collection_module .toolbar .toolbar-dropdown .label-tab .icon-dropdown{
      position: relative;
      right: 0;
      width: 11px;
      height: 6px;
      top:3px;
    }

    .new_collection_module .toolbar .toolbar-dropdown .label-text{
      flex: 0 0 auto;
    }
  }

      /* Iphone */
    @media (max-width: 767px) {
      .new_collection_module .new_collection_module_container{
        flex-wrap: wrap;
        justify-content: center;
        padding: 39px 0 0;
      }
      .new_collection_module .new_collection_module_container .title {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
      }
      .new_collection_module_container .title_text {
        margin-left: 0;
        font-size: 15px;
      }
      .new_collection_module_container .title_icon svg {
        width: 20px;
        height: 20px;
      }
      .show_popup_list {
        left: 50%;
        top: 61px;
        text-align: left;
        transform: translateX(-50%);
      }

      .new_collection_module .all_product_toolbar_container{
        flex: 0 0 100%;
      }

      .new_collection_module .toolbar{
        padding: 10px 0;
      }
    }
</style>

<section class="new_collection_module">
  <div class="container_new new_collection_module_container">
    <div class="title">
      <span class="title_text">{{ section.settings.title }}</span>
      <span class="title_icon title_icon_down">
        {{ section.settings.titleIcon }}
      </span>
      <!-- 点击显示下拉框list -->
      <div class="show_popup_list show_popup_list-opacity-0">
        <a class="popup_item" href="/pages/new-collection">Shop All Products</a>
        <a class="popup_item popup_item_active" href="javascript:void(0)">Gaming Chair</a>
        <a class="popup_item" href="/products/blacklyte-atlas-gaming-desk">Desks</a>
      </div>
    </div>
    {% if section.settings.show_filter == 'true' %}
      {% liquid
        assign sort_by = collection.sort_by | default: collection.default_sort_by
        assign sidebar_type = 'vertical'
        assign show_filter = true
        assign show_sorting = true
        assign show_sidebar_collapse = true
        assign sidebar_collapse_default = 'close'
        assign filter_swatch = ''
        assign filter_swatch_type = 'color'
        assign filter_rectangle = ''
        assign has_sidebar = true
        assign show_item_per_page = false
        assign show_view_as = false
        assign products_per_page = '20'
        assign layout = '4'
        assign sort_options = collection.sort_options
        assign sidebar_layout = 'layout_1'
        assign sidebar_position = 'left'
      %}
      <div class="all_product_toolbar_container" id="CollectionSection-{{ section.id }}">
        {{ 'component-main-sidebar.css' | asset_url | stylesheet_tag }}
        <div
          class="page-sidebar page-sidebar-{{ sidebar_position }} page-sidebar--{{ sidebar_type }} sidebar--{{ sidebar_layout }} mobile_sidebar_container"
          id="halo-sidebar"
        >
          <button type="button" class="halo-sidebar-close" data-close-sidebar role="button">
            <span class="visually-hidden">{{ 'general.common.close' | t }}</span> {% render 'icon-close' %}
          </button>
          <div class="halo-sidebar-header text-left{% if settings.banner_animation == 'effect_fade_up' %} scroll-trigger animate--slide-in{% endif %}">
            <span class="title">{{ 'sections.sidebar.title' | t }}</span>
          </div>
          <div class="halo-sidebar-wrapper custom-scrollbar{% if settings.banner_animation == 'effect_fade_up' %} scroll-trigger animate--slide-in{% endif %}">
            {% render 'collection-sidebar',
              results: collection,
              section: section,
              sort_by: sort_by,
              sidebar_type: sidebar_type,
              show_filter: show_filter,
              show_sorting: show_sorting,
              show_collapse: show_sidebar_collapse,
              sidebar_collapse: sidebar_collapse_default,
              filter_swatch: filter_swatch,
              filter_swatch_type: filter_swatch_type,
              filter_rectangle: filter_rectangle
            %}
          </div>
        </div>
        {% render 'toolbar',
          has_sidebar: has_sidebar,
          show_sorting: show_sorting,
          show_item_per_page: show_item_per_page,
          show_view_as: show_view_as,
          products_per_page: products_per_page,
          layout: layout,
          sort_by: sort_by,
          sort_options: sort_options
        %}
      </div>
    {% endif %}
  </div>
</section>

<script type="text/javascript">
  (function () {
    function handleClickTitleIcon(e) {
      let $icon = $('.new_collection_module_container .title_icon');
      let $popupList = $('.show_popup_list');

      if ($icon.hasClass('title_icon_down')) {
        $icon.removeClass('title_icon_down').addClass('title_icon_up');
        $popupList.removeClass('show_popup_list-opacity-0').addClass('show_popup_list-opacity-1');
      } else if ($icon.hasClass('title_icon_up')) {
        $icon.removeClass('title_icon_up').addClass('title_icon_down');
        $popupList.removeClass('show_popup_list-opacity-1').addClass('show_popup_list-opacity-0');
      } else {
        $icon.addClass('title_icon_down'); // 初始状态时添加 title_icon_down
        $popupList.removeClass('show_popup_list-opacity-1').addClass('show_popup_list-opacity-0');
      }
    }

    $('.new_collection_module_container .title_text').on('click', function (e) {
      handleClickTitleIcon();
    });
    $('.new_collection_module_container .title_icon').on('click', function (e) {
      handleClickTitleIcon();
    });

    $(document).on('click', function (e) {
      // 判断点击的目标是否是 .title_icon 或 .title_text
      if (
        !$(e.target).closest(
          '.new_collection_module_container .title .title_icon, .new_collection_module_container .title .title_text'
        ).length
      ) {
        let $popupList = $('.show_popup_list');
        let $icon = $('.new_collection_module_container .title_icon');

        if ($popupList.hasClass('show_popup_list-opacity-1')) {
          // 关闭弹窗
          $popupList.removeClass('show_popup_list-opacity-1').addClass('show_popup_list-opacity-0');
          $icon.removeClass('title_icon_up').addClass('title_icon_down');
        }
      }
    });
  })(jQuery);
</script>

{% schema %}
{
  "name": "NEW Collection CommonHead",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "All Gaming Chairs"
    },
    {
      "type": "textarea",
      "id": "titleIcon",
      "label": "Section Title Icon"
    },
    {
      "type": "radio",
      "id": "show_filter",
      "label": "show filter",
      "default": "false",
      "options": [
        {
          "value": "false",
          "label": "false"
        },
        {
          "value": "true",
          "label": "true"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "NEW Collection CommonHead"
    }
  ]
}
{% endschema %}
