  {% assign video_sources = section.settings.video.sources %}
  {% assign video_url = "" %}


{% if section.settings.video %}
  {% assign video_sources = section.settings.video.sources %}
  {% assign video_url = "" %}

  {% for source in video_sources %}
    {% if source.format != "m3u8" %}
      {% assign video_url = source.url %}
      {% break %}
    {% endif %}
  {% endfor %}


{% endif %}
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   <div class="oy-main-video">
        <div class="oy-main-video-in">
            <div class="oy-main-video-main">
                <video src="{{ video_url   }}" loop autoplay muted preload="metadata"></video>
            </div>
            <div class="oy-main-video-text">
                <div class="oy-title">
                    <p> {{ section.settings.title }}</p>

                </div>
                <div class="oy-title-b">
                    <p>{{ section.settings.text }}</p>

                </div>
            </div>
        </div>

    </div>


<style>
    .oy-main-video{
      padding-top:{{ section.settings.p_t}}px;
      padding-bottom:{{ section.settings.p_m}}px;
    }
</style>


{% schema %}
  {
    "name": "A Video Banner",
    "settings": [
      {
        "type": "video",
        "id": "video",
        "label": "视频"
      },
       {
        "type": "text",
        "id": "title",
        "label": "标题"
      },
       {
        "type": "textarea",
        "id": "text",
        "label": "内容"
      },
        {
        "type":"range",
        "id": "p_t",
        "label": "Padding Top",
        "max":300,
        "min": 0,
        "default":30,
        "unit": "px",
        "step": 5,
      },
            {
        "type":"range",
        "id": "p_m",
        "label": "Padding Bottom",
        "max":300,
        "min": 0,
        "default":30,
        "unit": "px",
        "step": 5,
      },
    ],
    "presets": [
    {"name":   "A Video Banner"}
    ]
  }
{% endschema %}